$blue: #5e9af5; /* Синий */
$bg:  #eaecf2; /* Фон  */
$black: #424951; /* Черный */
/*#424951*/

body {
    font-family: "Open Sans","Helvetica",Arial,sans-serif;
}

html,
body {
    font-size: 16px;
}

.o_app {
    text-align: left;
}

.o_container {
    width: 1050px;
    margin: 0 auto;
    display: block;
    padding: 0;
    zoom: 1;
    position: relative;
}

.o__header {
    background-color: $black;
    padding: 12px 0;
    color: white;
    position: fixed;
    z-index: 200;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    height: 50px;
    box-sizing: border-box;
    border-bottom: solid 1px #202327;
    -webkit-transition: height 200ms ease-in;
    transition: height 200ms ease-in;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    &--logo {
        background: url(image/logo_w_long.svg) no-repeat center center;
        height: 25px;
        fill: #fff;
        width: 110px;
        display: block;
        margin: 0;
        margin-left: 35px;
    }
    &_menu {
        right: 0;
        position: absolute;
        top: 5px;
        a {
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 30px;
            color: #fff;
            font-weight: 400;
            text-decoration: none;
        }
    }
}

.o_404 {
    text-align: center;
    h1 {
        font-size: 8rem;
        font-weight: bold;
        padding: 1rem;
    }
}

.o_panel {
    padding-top: 0;
    min-height: 90vh;
    background: #fafafa;
}

.o_panel__container {
    min-height: 380px;
    background-color: #fff;
    padding: 50px 0px 0;
    min-height: 95vh;
    margin-left: 286px;
    border-right: 1px solid #f1f1f1;
}
.o_mistake__container {
    padding: 20px 0px;
    position: relative;
}
.o_sidebar {
    float: left;
    width: 250px;
    min-height: 100vh;
    padding-left: 35px;
    padding-top: 50px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #f1f1f1;
    background-color: #fafafa;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.o_mistake {
    position: relative;
    padding: 0;
    display: table;
    width: 100%;
    padding: 0 30px 0 27px;
    box-sizing: border-box;
    border-left: 3px solid transparent;
    &__check {
        display: table-cell;
        vertical-align: top;
        width: 35px;
        padding: 25px 0px 0px 0;
        box-sizing: border-box;
    }
    &__header {
        display: table-cell;
        vertical-align: middle;
        padding: 10px 10px;
        border-bottom: 1px solid #eee;
    }
    &__setting {
        display: table-cell;
        vertical-align: middle;
        width: 100px;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
    }
    &:nth-child(odd) {}
    &:hover {
        border-left: 3px solid $blue;
        background: #f7fbff;
    }
    &__title {
        position: relative;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5;
        a {
            color: #000;
            text-decoration: none;
        }
    }
    &__mis {
        font-size: .8rem;
        line-height: 1.5;
        strong {
            color: red;
            font-weight: 500;
        }
    }
    &__time {
        font-weight: 300;
        font-size: 0.7rem;
        text-align: right;
    }
}

.control {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__indicator {
        position: absolute;
        top: -10px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #fff;
        border: 1px solid #c9c9c9;
        border-radius: 25px;
    }
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.o_ResourcesBlock {
    box-sizing: border-box;
    padding: 20px 0;
    h3 {
        text-align: center;
    }
}

.o_resource {
    padding-top: 80px;
    background: #fff;
    min-height: 100vh;
    padding: 60px 20px;
    h1 {
    font-size: 1.5rem;
    text-align: left;
    color: #000;
    font-weight: 600;
    padding: 10px 0;
    }
}

.o_settings {
    padding-top: 80px;
    background: #fff;
    min-height: 100vh;
    h1 {
        font-size: 2rem;
        text-align: center;
        color: #000;
        font-weight: bold;
    }
}

.o_resources {
    margin: 0 -10px;
}

.o_resource__add {
    display: inline-block;
    height: 188px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px;
    vertical-align: top;
    width: 46%;
    border: 1px solid #dbdfe2;
    border-radius: 5px;
}

.o_resource__add {
    border: 1px dashed #dbdfe2;
    min-height: 245px;
    height: inherit;
    h2 {
        font-weight: bold;
        padding: 10px 0;
        color:  #000;
        text-align: center;
    }

}
.o_resource {
    .o_item {
        display: inline-block;
        height: 188px;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 10px;
        vertical-align: top;
        width: 46%;
        border: 1px solid #dbdfe2;
        border-radius: 5px;
        position: relative;
        box-sizing: border-box;
        font-size: 16px;
        &__header {
            color: #000;
            height: 40px;
            font-size: .8rem;
            line-height: 40px;
            position: relative;
            display: table;
            width: 100%;
            div {
                display: table-cell;
            }
        }
        &__content {
            height: 80px;
            display: block;
            position: relative;
        }
        &__title {
            font-size: 2rem;
        }
        &__url {
            display: block;
            padding: 5px 0;
            color: #333;
        }
        &__footer {
            position: absolute;
            bottom: 0;
            height: 30px;
            width: 100%;
            box-sizing: border-box;
        }
    }   
}

.o_form {
    position: relative;
    box-sizing: border-box;
    &__group {
        margin: 10px 0;
        label {
            font-size: 12px;
            padding: 3px 0;
            color: $black;
            display: block;
        }
    }
    input {
        box-sizing: border-box;
        background: #fff;
        border-radius: 2px;
        height: 42px;
        font-size: 14px;
        padding: 0 15px;
        width: 100%;
        outline: none;
        border: 1px solid #dbdfe2;
        color: #424951;
        &[type=submit] {
            width: auto;
            background: $blue;
            color: #fff;
            border: 1px solid $blue;
        }
    }
}

.o_ResourcesBlock_container .o_item {
        font-size: 16px;
        position: relative;
        color: #303333;
        line-height: 26px;
        list-style: none;
        cursor: pointer;
        margin-bottom: 2px;
        padding: 7px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        -webkit-transition: color .1s ease-in,background-color .1s ease-in;
        transition: color .1s ease-in,background-color .1s ease-in;
    &:hover {
        background-color: #fff;
    }
    &.active {
        background: #fff;
        font-weight: 700;
    }
    img {
        margin-left: 3px;
        margin-top: 0px;
        margin-right: 10px;
        vertical-align: middle;
        -webkit-transition: opacity .1s ease-in;
        transition: opacity .1s ease-in;
    }
    .counter {
        display: inline-block;
        color: #b3b3b3;
        margin: 5px;
        font-size: 11px;
        line-height: 15px;
        position: absolute;
        right: 0;
        padding: 0px 10px;
    }
}
.o_loadmore {
    display: block;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    height: 42px;
    font-size: 14px;
    padding: 0 15px;
    width: 100%;
    margin-top: 25px;
    outline: none;
    border: 1px solid #dbdfe2;
    color: #424951;
        width: 50%;
    margin: 25px auto;
}

.o_login, .o_signup {
    padding-top: 60px;
    h1 {
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
        color: $black;
        padding: 10px 0;
    }
    &__form {
        width: 400px;
        margin: 0 auto;
    }
    &__input {
        margin: 10px 0;
    }
    &__button {
        width: auto;
        cursor: pointer;
        outline:none;
        background: #5e9af5;
        color: #fff;
        border: 1px solid #5e9af5;
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
        padding: 15px;
        font-size: 1rem;
    }
}