body {
  font-family: 'Open Sans', sans-serif;
}
html, body {
  font-size: 16px;
}
.o_app {
  text-align: left;
}
.o_container {
  width: 1050px;
  margin: 0 auto;
  display: block;
  zoom: 1;
  position: relative;
}
.o__header {
    background-color: #f3f6fb;
    padding: 22px 0;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    height: 70px;
    box-sizing: border-box;
  &--logo {
    background: url(image/logo.svg) no-repeat;
    height: 25px;
    fill: #fff;
    width: 130px;
    display: block;
    margin: 0 auto;
  }
  &_menu {
    right: 0;
    position: absolute;
    top: 5px;
    a {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 15px;
      color: #000;
      font-weight: 400;
      text-decoration: none;
    }
  }
}


.o_404 {
  text-align: center;
  h1 {
    font-size: 8rem;
    font-weight: bold;
    padding: 1rem;
  }
}

.o_panel {
  padding-top: 25px;
}

.o_mistake__container {
  width: 750px;
}


.o_mistake {
  position: relative;
  padding: 10px 10px 10px 50px;
  &:nth-child(odd) {
    background: #f3f6fb;
  }
  &__title {
    position: relative;
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }
  &__mis {
    strong {
      color: red;
      font-weight: bold;
    }
  }
}