$blue: #5e9af5; /* Синий */
$bg:  #eaecf2; /* Фон  */
$black: #424951; /* Черный */
/*#424951*/

body {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    font-size: 16px;
}

.o_app {
    text-align: left;
}

.o_container {
    width: 1050px;
    margin: 0 auto;
    display: block;
    padding: 0;
    zoom: 1;
    position: relative;
}

.o__header {
    background-color: $black;
    padding: 22px 0;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    height: 70px;
    box-sizing: border-box;
    &--logo {
        background: url(image/logo_w_long.svg) no-repeat center center;
        height: 25px;
        fill: #fff;
        width: 140px;
        display: block;
        margin: 0;
    }
    &_menu {
        right: 0;
        position: absolute;
        top: 5px;
        a {
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 30px;
            color: #fff;
            font-weight: 400;
            text-decoration: none;
        }
    }
}

.o_404 {
    text-align: center;
    h1 {
        font-size: 8rem;
        font-weight: bold;
        padding: 1rem;
    }
}

.o_panel {
    padding-top: 25px;
}

.o_mistake__container {
    width: 750px;
}
.o_sidebar {
    width: 260px;
    position: absolute;
    right: 0;
    min-height: 500px;
    border-left: 1px solid #eeeeee;
    top: 0;
}
.o_mistake {
    position: relative;
    padding: 0;
    display: table;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    &__check {
        display: table-cell;
        vertical-align: middle;
        width: 40px;
        padding: 10px;
        box-sizing: border-box;
    }
    &__header {
        display: table-cell;
        vertical-align: middle;
    }
    &__setting {
        display: table-cell;
        vertical-align: middle;
        width: 100px;
        padding: 10px;
        box-sizing: border-box;
    }
    &:nth-child(odd) {}
    &:hover {
        background: #fefaf2;
        cursor: pointer;
    }
    &__title {
        position: relative;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5;
        a {
            color: #000;
            text-decoration: none;
        }
    }
    &__mis {
        font-size: .8rem;
        line-height: 1.5;
        strong {
            color: red;
            font-weight: 500;
        }
    }
    &__time {
        font-weight: 300;
        font-size: 0.7rem;
        text-align: right;
    }
}

.control {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__indicator {
        position: absolute;
        top: -10px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;
    }
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.o_ResourcesBlock {
    box-sizing: border-box;
    padding: 20px;
    h3 {
        text-align: center;
    }
}

.o_resource {
    h1 {
    font-size: 2rem;
    text-align: left;
    color: $black;
    font-weight: 600;
    padding: 10px 0;
    }
}

.o_settings {
    h1 {
        font-size: 3rem;
        text-align: center;
        color: $black;
        font-weight: bold;
    }
}

.o_resource {
    width: 750px;
}
.o_resources {
    margin: 0 -10px;
}
.o_item, .o_resource__add {
    display: inline-block;
    height: 188px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px;
    vertical-align: top;
    width: 46%;
    border: 1px solid #dbdfe2;
    border-radius: 5px;
}

.o_resource__add {
    border: 1px dashed #dbdfe2;
    min-height: 245px;
    height: inherit;
    h2 {
        font-weight: bold;
        padding: 10px 0;
        color:  $black;
        text-align: center;
    }

}
.o_item {
    position: relative;
    box-sizing: border-box;
    &__header {
        color: green;
        height: 40px;
        line-height: 40px;
        position: relative;
    }
    &__content {
        height: 80px;
        display: block;
        position: relative;
    }
    &__title {
        font-size: 2rem;
    }
    &__url {
        display: block;
        padding: 5px 0;
        color: #333;
    }
    &__footer {
        position: absolute;
        bottom: 0;
        height: 30px;
        width: 100%;
        box-sizing: border-box;
    }
}
.o_form {
    position: relative;
    box-sizing: border-box;
    &__group {
        margin: 10px 0;
        label {
            font-size: 12px;
            padding: 3px 0;
            color: $black;
            display: block;
        }
    }
    input {
        box-sizing: border-box;
        background: #fff;
        border-radius: 2px;
        height: 42px;
        font-size: 14px;
        padding: 0 15px;
        width: 100%;
        outline: none;
        border: 1px solid #dbdfe2;
        color: #424951;
        &[type=submit] {
            width: auto;
            background: $blue;
            color: #fff;
            border: 1px solid $blue;
        }
    }
}

